<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="/css/desktop.css" />
        <link rel="shortcut icon" href="/favicon.ico"/>
        <script src="/js/global.js"></script>
        <title>{title}</title>
    </head>
    <body>
        <div id="menu">
            <p>
                <a class="button" href="/advertise.html">Advertise a Rust Job</a>
            </p>
        </div>
        <div id="header">
            <a href="/"><img id="logo" src="/images/rust-jobs-logo.png" alt="Rust Jobs Logo" /></a>
        </div>
        <div id="main">
            <div id="content">
                {content}
            </div>
        </div>
        <div id="footer">
            <p>
                <a href="/blog.html">Blog</a>
                <a href="/legal.html">Legal</a>
                <a href="/contact.html">Contact</a>
            </p>
            <span>Rust Jobs Pty Ltd, Australian Business Number 71 658 505 812</span>
        </div>
    </body>
</html>
